@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h5>@ViewBag.Message</h5>


<address>
    <strong>Website:</strong>   <a href="www.roguemiddlechild.com">Rogue Middle Child</a><br />
    <strong>E-Mail:</strong> <a href="mailto:rk@roguemiddlechild.com">rk@roguemiddlechild.com</a>
</address>