@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-info">
    <h1>Daylily Finder</h1>
    <p class="lead">Welcome to the Daylily Finder site.  You can find that perfect daylily for your garden or try and discover the identity of any unknown daylilies in your garden currently.</p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-1 col-sm-12">
        <h2>Browse Daylilies</h2>
        <p>
            Browse the list of daylilies by color, height, bloom type, and bloom time.  Find the perfect daylily for you.
        </p>
        <p>@Html.ActionLink("Browse", "Browse", "Home", new { @class = "btn btn-primary" })</p>

    </div>
    <div class="col-md-4 col-md-offset-2 col-sm-12">
        <h2>Add a Daylily</h2>
        <p>Use this to add a specific daylily.</p>
        <p>@Html.ActionLink("Add Daylily", "AddDaylily", "Home", new { @class = "btn btn-success" })</p>
    </div>
</div>