@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Daylily Finder</h1>
    <p class="lead">Welcome to the Daylily Finder site.  You can find that perfect daylily for your garden or try and discover the identity of any unknown daylilies in your garden currently.</p>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>Browse Daylilies</h2>
        <p>
            Browse the list of daylilies by color, height, bloom type, and bloom time.  Find the perfect daylily for you.
        </p>
        <p><a class="btn btn-primary" href="link">Browse &raquo;</a></p>
    </div>
    <div class="col-md-6 col-sm-12">
        <h2>Daylily Finder</h2>
        <p>Use the finder to identify a specific daylily.</p>
        <p><a class="btn btn-info" href="link">Finder &raquo;</a></p>
    </div>
</div>